<!DOCTYPE html>
<html lang="en">

<% include ../../elements/head %>

  <body class="fixed-nav sticky-footer" id="page-top" onload="renderLecturerTable()">
    <!-- Navigation-->
    <% include ../navbar %>
      <!-- /Navigation-->
      <div class="content-wrapper">
        <div class="container-fluid">
          <!-- Breadcrumbs-->

          <!-- Example DataTables Card-->
          <div class="card mb-3">
            <div class="card-header">
              <div class="form-group" style="margin-bottom:0px;">
                <a href="/admin/lecturer/add-lecturer-page"> <button type="button" class="btn btn-primary ">Add
                    Lecturer</button></a>
              </div>
            </div>
            <div class="card-body">
              <table class="table table-bordered table-hover table-dark text-center" id="" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th style="width: 30%;">Fullname</th>
                    <th style="width: 25%;">Email</th>
                    <th style="width: 15%;">Reset Password</th>
                    <th style="width: 10%;">Block</th>
                    <th style="width: 10%;">Delete</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th colspan="5">END</th>
                  </tr>
                </tfoot>
                <tbody id="admin_lecturer_table_tbody">
                </tbody>
              </table>
            </div>
          </div>
          <!-- /tables-->
        </div>
        <!-- /container-fluid-->
      </div>
      <!-- /container-wrapper-->
      <% include ../../elements/footer %>
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
          <i class="fa fa-angle-up"></i>
        </a>
        <!-- Logout Modal-->
        <% include ../../elements/logout%>

          <!-- Bootstrap core JavaScript-->
          <% include ../../elements/javascript-addon %>
  </body>

</html>