<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Ansonika">
  <title>UDEMA - Admin dashboard</title>

  <!-- Favicons-->
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" type="image/x-icon" href="/images/img/apple-touch-icon-57x57-precomposed.png">
  <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72"
    href="/images/img/apple-touch-icon-72x72-precomposed.png">
  <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114"
    href="/images/img/apple-touch-icon-114x114-precomposed.png">
  <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144"
    href="/images/img/apple-touch-icon-144x144-precomposed.png">

  <!-- Bootstrap core CSS-->
  <link href="/stylesheets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Main styles -->
  <link href="/stylesheets/css/admin.css" rel="stylesheet">
  <!-- Icon fonts-->
  <link href="/stylesheets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Plugin styles -->
  <link href="/stylesheets/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
  <!-- Your custom styles -->
  <link href="/stylesheets/css/custom.css" rel="stylesheet">

  <!-- Của lecturer page -->
  <link href="/stylesheets/vendor/dropzone.css" rel="stylesheet">

  <!-- Của add page -->
  <link href="/stylesheets/css/date_picker.css" rel="stylesheet">


  <!-- TinyMCE Editor -->
  <script src="https://cdn.tiny.cloud/1/dsh2cz7m079hjadswmiift6ldhtgsw6a9y0dlnjoxwwu473z/tinymce/5/tinymce.min.js"
    referrerpolicy="origin"></script>
  <script>
    tinymce.init({
      selector: '#detailedDescription'
    });
  </script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">



  <style>
    .footer>a {
      margin-right: 20px;
      font-size: 20px;
      color: black;
    }

    .footer>a:hover {
      color: #007bff;
      transition: 0.1s;
      ;
    }
  </style>

  <script>
    var sessionNumber = 0;
    var lectureNumber = [-1];


    function addSession() {
      sessionNumber++;
      lectureNumber.push(0);
      var s = document.getElementById("getSessionHere");

      s.insertAdjacentHTML("beforebegin", `<div id="session${sessionNumber}"><div class="form-row">
                    <div class="col-md-8 mb-2 input-group-lg">
                      <input type="text" class="form-control" id = "" placeholder="${sessionNumber}. Session title"
                        required>
                    </div>

                    <div class="col-md-2 mb-2 input-group-lg">
                      <button type="button" onclick = "addLecture(${sessionNumber})" class="btn btn-primary" style="height:100%; width:100%;"><i
                          class="fa fa-fw fa-plus-circle"></i>Add Lecture</button>
                    </div>

                    <div class="col-md-2 mb-2 input-group-lg">
                      <button type="button" onclick = "removeSession(${sessionNumber})" class="btn btn-danger" style="height:100%;"><i
                          class="fa fa-fw fa-remove"></i></button>
                    </div>
                    </div>
                    <span id = "getLectureHere.${sessionNumber}"></span></div>`);
    }


    function addLecture(sessionNumber) {
      lectureNumber[sessionNumber]++;
      var lec = document.getElementById(`getLectureHere.${sessionNumber}`);

      lec.insertAdjacentHTML("beforebegin", `<div class="form-row" id = "lession_${sessionNumber}.${lectureNumber[sessionNumber]}">
                    <div class="col-md-6 mb-3 input-group-lg" style="margin-left:16.7%;">
                      <input type="text" class="form-control" id="" placeholder="${sessionNumber}.${lectureNumber[sessionNumber]}. Lecture title"
                        required>
                    </div>

                    <div class="input-group col-md-2 mb-3">
                      <div class="custom-file">
                        <input type="file" class="custom-file" id="chooseVideo">
                        <label class="custom-file-label" for="chooseVideo">Choose video</label>
                      </div>
                    </div>

                    <div class="col-md-1 mb-3 input-group-lg">
                      <button type="button" onclick = "removeLecture(${sessionNumber},${lectureNumber[sessionNumber]})" class="btn btn-danger" style="height:100%;"><i
                          class="fa fa-fw fa-remove"></i></button>
                    </div>
                  </div>`);
    }


    function removeSession(session) {
      var sessionRemove = document.getElementById(`session${session}`);
      sessionRemove.remove();
    }


    function removeLecture(session, lecture) {
      var sessionRemove = document.getElementById(`lession_${session}.${lecture}`);
      sessionRemove.remove();
    }
  </script>
</head>