<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Ansonika">
  <title>EduPlus <%= title %>
  </title>

  <!-- Favicons-->
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" type="image/x-icon" href="/images/img/apple-touch-icon-57x57-precomposed.png">
  <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72"
    href="/images/img/apple-touch-icon-72x72-precomposed.png">
  <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114"
    href="/images/img/apple-touch-icon-114x114-precomposed.png">
  <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144"
    href="/images/img/apple-touch-icon-144x144-precomposed.png">

  <!-- Bootstrap core CSS-->
  <link href="/stylesheets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Main styles -->
  <link href="/stylesheets/css/admin.css" rel="stylesheet">
  <!-- Icon fonts-->
  <link href="/stylesheets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Plugin styles -->
  <link href="/stylesheets/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
  <!-- Your custom styles -->
  <link href="/stylesheets/css/custom.css" rel="stylesheet">

  <!-- Của lecturer page -->
  <link href="/stylesheets/vendor/dropzone.css" rel="stylesheet">

  <!-- Của add page -->
  <link href="/stylesheets/css/date_picker.css" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/css/fileinput.min.css">
  <!-- TinyMCE Editor -->
  <!-- <script src="https://cdn.tiny.cloud/1/dsh2cz7m079hjadswmiift6ldhtgsw6a9y0dlnjoxwwu473z/tinymce/5/tinymce.min.js"
    referrerpolicy="origin"></script>
  <script>

    tinymce.init({
      selector: '#detailDesc'
    });

  </script> -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  


  <style>
    .footer>a {
      margin-right: 20px;
      font-size: 20px;
      color: black;
    }

    .footer>a:hover {
      color: #007bff;
      transition: 0.1s;
      ;
    }
  </style>

 

  <script>
    var sessionNumber = 0;
    var lectureNumber = [-1];
    var lectureRemoveOfEachSession = [-1];

    function addSession() {
      sessionNumber++;
      lectureNumber.push(0);
      lectureRemoveOfEachSession.push(0);
      var s = document.getElementById("getSessionHere");

      s.insertAdjacentHTML("beforebegin", `<div id="session${sessionNumber}"><div class="form-row">
                    <div class="col-md-8 mb-2 input-group-lg">
                      <input type="text" class="form-control" id = "" name="session" placeholder="${sessionNumber}. Session title"
                        required>
                    </div>

                    <div class="col-md-2 mb-2 input-group-lg">
                      <button type="button" onclick = "addLecture(${sessionNumber})" class="btn btn-primary" style="height:100%; width:100%;"><i
                          class="fa fa-fw fa-plus-circle"></i>Add Lecture</button>
                    </div>

                    <div class="col-md-2 mb-2 input-group-lg">
                      <button type="button" onclick = "removeSession(${sessionNumber})" class="btn btn-danger" style="height:100%;"><i
                          class="fa fa-fw fa-remove"></i></button>
                    </div>
                    </div>
                    <span id = "getLectureHere.${sessionNumber}"></span></div>`);
    }



    function addLecture(sessionNumber) {
      lectureNumber[sessionNumber]++;
      var lec = document.getElementById(`getLectureHere.${sessionNumber}`);

      lec.insertAdjacentHTML("beforebegin", `<div class="form-row" id = "lession_${sessionNumber}.${lectureNumber[sessionNumber]}">
                    <div class="col-md-6 mb-3 input-group-lg">
                      <input type="text" class="form-control" id="" name = "lecture" placeholder="${sessionNumber}.${lectureNumber[sessionNumber]}. Lecture title"
                        required>
                    </div>

                    <select class="form-control col-md-2 mb-3 input-group-lg" name = "preview">
                      <option value = "1">Preview</option>
                      <option value = "0" selected>No Preview</option>
                    </select>

                    <div class="col-md-1 mb-3 input-group-lg">
                      <button type="button" onclick = "removeLecture(${sessionNumber},${lectureNumber[sessionNumber]})" class="btn btn-danger" style="height:100%;" ><i
                          class="fa fa-fw fa-remove"></i></button>
                    </div>
                  </div>`);
    }



    function removeSession(session) {
      lectureNumber[session] = -1;
      delete lectureRemoveOfEachSession[session];
      var sessionRemove = document.getElementById(`session${session}`);
      sessionRemove.remove();
    }



    function removeLecture(session, lecture) {
      lectureRemoveOfEachSession[session]++;
      // alert(session + '-' + lectureRemoveOfEachSession[session])
      var lecturenRemove = document.getElementById(`lession_${session}.${lecture}`);
      lecturenRemove.remove();
    }



    function submitFormAddCourse() {
      var str = "";

      for (i = 1; i < lectureNumber.length; i++) {
        if (lectureNumber[i] === -1) {
          continue;
        }
        var x = lectureNumber[i] - lectureRemoveOfEachSession[i];
        str = str + ',' + x;
      }
      str = str.slice(1);
      document.getElementById("lectureOfEachSessionInOrder").value = str;
      return true;
    }



    function removeOptions(selectElement) {
      var i, L = selectElement.options.length - 1;
      for (i = L; i >= 0; i--) {
        selectElement.remove(i);
      }
    }



    function getCat2Admin(cat1ID) {
      // Remove tbody of table (contain category 2)
      $("#admin_category_table_tbody").empty();

      // alert(cat1ID);
      var send = { cat1ID: cat1ID };

      $.getJSON(`/admin/category/get-list-cat2`, send, function (data) {
        if (data) {
          // Handle string tbody (contain category 2)
          var strData = ``;

          // Để khi edit cat2name có list so sánh xem đã tồn tại chưa!
          var listCat2Name = "";
          data.forEach(function (item) {
            listCat2Name = listCat2Name + "___" + item.Cat2Name;
          })
          // alert(listCat2Name);

          data.forEach(function (item) {
            strData = strData + `<tr>
                        <td style="color:#ffe000;">${item.Cat2Name}</td>
                        <td>
                          <div class="row">
                            <div class="col-md-10">
                              <div class="form-group ">
                                <input type="text" class="form-control form-control-lg"
                                  style="height: 45px; font-size: 1rem;" placeholder="Enter New Name" id="cat2.${item.Cat2ID}">
                              </div>
                            </div>
                            <div class="col-md-2" style="padding-left:0px;">
                              <div class="form-group">
                                <button type="button" onclick = "submitEditCat2(${item.Cat2ID}, ${item.Cat1ID}, '${listCat2Name}')" class="btn btn-primary"
                                  style="height: 45px; margin-left: 0;">Submit</button>
                              </div>
                            </div>
                          </div>
                        </td>
                        <td><button type="button" class="btn btn-danger" style="height: 45px;">Delete</button></td>
                      </tr>`;
          })

          var tbody = document.getElementById(`admin_category_table_tbody`);
          tbody.insertAdjacentHTML("beforeend", strData);
        }
      })
    }



    function submitEditCat2(Cat2ID, Cat1ID, listCat2Name) {
      var Cat2Name = document.getElementById(`cat2.${Cat2ID}`).value;

      // Check if admin don't select category 1 yet.
      if (Cat1ID === "0") {
        alert("Please select Category1 before submit!");
        return;
      }

      if (Cat2Name === "") {
        alert("Please enter Category2's Name before submit!");
        return;
      }

      //validate : if Cat2Name is already exist
      listCat2Name = listCat2Name.split("___");
      var check = false;
      listCat2Name.forEach(function (item) {
        if (Cat2Name === item) {
          alert("New name is already exist. Please enter again!");
          check = true;
          return;
        }
      })

      if (check) {
        return;
      } else {
        var send = { Cat2ID, Cat2Name, Cat1ID };

        $.getJSON(`/admin/category/edit-cat2`, send, function (data) {
          if (data) {
            alert("Edit Successfully!");
            getCat2Admin(Cat1ID);
          }
        })
      }
    }



    function submitEditCat1() {
      var Cat1ID = $("#admin_Cat1ID").val();
      var Cat1Name = $("#textEditCat1").val();

      if (Cat1ID === "0") {
        alert("Please select Category1 before submit!");
        return;
      }

      if (Cat1Name === "") {
        alert("Please enter Category1's Name before submit!");
        return;
      }

      // alert(Cat1Name, Cat1ID);
      const send = { Cat1ID, Cat1Name };

      $.getJSON(`/admin/category/edit-cat1`, send, function (data) {
        if (data) {
          if (data.result === "true") {
            alert("Edit Successfully!");
            location.reload();
          }
          else {
            alert("New Name is already exist. Please enter again!");
            location.reload();
          }
        }
      })
    }



    function submitAddCategory2() {
      var Cat2Name = $("#textAddCategory2").val();
      var Cat1ID = $("#admin_Cat1ID").val();
      // alert(Cat1ID + " " + Cat2Name);

      if (Cat1ID === "0") {
        alert("Please select Category1 before submit!");
        return;
      }

      if (Cat2Name === "") {
        alert("Please enter Category2's Name before submit!");
        return;
      }

      var send = { Cat2Name, Cat1ID };

      $.getJSON(`/admin/category/add-cat2`, send, function (data) {
        if (data) {
          if (data.result === "true") {
            alert("Edit Successfully!");
            getCat2Admin(Cat1ID);
          }
          else {
            alert("New Category2's Name is already exist. Please enter again!");
            return;
          }
        }
      })
    }



    function submitAddCategory1() {
      var Cat1Name = prompt("Please enter new category 1 :");
      // alert(Cat1Name);
      if (Cat1Name === "") {
        alert("Please enter Category1's Name before submit");
        return;
      } else {
        var send = { Cat1Name };

        $.getJSON(`/admin/category/add-cat1`, send, function (data) {
          if (data) {
            if (data.result === "true") {
              alert("Edit Successfully!");
              location.reload();
            }
            else {
              alert("New Category1's Name is already exist. Please enter again!");
              return;
            }
          }
        })
      }
    }


    function renderLecturerTable() {
      $("#admin_lecturer_table_tbody").empty();
      $.getJSON(`/admin/lecturer/get-list-lecturer`, function (data) {
        if (data) {
          var str = "";
          data.forEach(function (item) {
            str = str + `<tr>
                      <td>${item.full_name}</td>
                      <td>${item.email}</td>
                      <td>
                        <div class="form-group " style="margin:auto;">
                          <button type="button" onclick="resetPasswordLecturer(${item.UserID})" class="btn btn-primary">Reset Password</button>
                        </div>
                      </td>
                      <td>
                        <div class="form-group " style="margin:auto;">
                          <button type="button" onclick="deleteLecturer(${item.UserID})" class="btn btn-danger">Delete</button>
                        </div>
                      </td>
                    </tr>`
          })
          var tbody = document.getElementById(`admin_lecturer_table_tbody`);
          tbody.insertAdjacentHTML("beforeend", str);
        }
      })
    }


    function checkConfirm() {
      if (document.getElementById('password').value.length < 5) {
        document.getElementById('messagePassword').style.color = 'red';
        document.getElementById('messagePassword').innerHTML = '>= 5 characters';
      } else {
        document.getElementById('messagePassword').hidden = true;
        if (document.getElementById('password').value === document.getElementById('confirmPassword').value) {
          document.getElementById('messageConfirm').style.color = 'green';
          document.getElementById('messageConfirm').innerHTML = 'Matching';
        } else {
          document.getElementById('messageConfirm').style.color = 'red';
          document.getElementById('messageConfirm').innerHTML = 'Not matching';
        }
      }
    }

    function confirmOldPassword(idOldPassword, idMessageOldPassword) {
      if (document.getElementById(`${idOldPassword}`).value.length < 5) {
        document.getElementById(`${idMessageOldPassword}`).style.color = 'red';
        document.getElementById(`${idMessageOldPassword}`).innerHTML = '>= 5 characters';
      } else {
        document.getElementById(`${idMessageOldPassword}`).style.color = 'green';
        document.getElementById(`${idMessageOldPassword}`).innerHTML = 'OK';
      }
    }

    function checkConfirmAdmin() {
      if (document.getElementById('password').value.length < 5) {
        document.getElementById('messagePassword').style.color = 'red';
        document.getElementById('messagePassword').innerHTML = '>= 5 characters';
      } else {
        document.getElementById('messagePassword').hidden = true;
        if (document.getElementById('password').value === document.getElementById('confirmPassword').value) {
          document.getElementById('messageConfirm').style.color = 'green';
          document.getElementById('messageConfirm').innerHTML = 'Matching';
        } else {
          document.getElementById('messageConfirm').style.color = 'red';
          document.getElementById('messageConfirm').innerHTML = 'Not matching';
        }
      }
    }

    function checkEmailAdmin(idEmail, messageEmail) {
      if (document.getElementById(`${idEmail}`).value.length < 5) {
        document.getElementById(`${messageEmail}`).style.color = 'red';
        document.getElementById(`${messageEmail}`).innerHTML = '>= 5 characters';
      } else {
        if (document.getElementById(`${idEmail}`).value.search("@") >= 0) {
          document.getElementById(`${messageEmail}`).style.color = 'green';
          document.getElementById(`${messageEmail}`).innerHTML = 'Matching';
        }
        else {
          document.getElementById(`${messageEmail}`).style.color = 'red';
          document.getElementById(`${messageEmail}`).innerHTML = 'Not matching';
        }
      }
    }

    function confirmEmail(idEmail, idMessageEmail, idConfirmEmail, idMessageConfirmEmail) {
      if (document.getElementById(`${idEmail}`).value.length < 5) {
        document.getElementById(`${idMessageEmail}`).style.color = 'red';
        document.getElementById(`${idMessageEmail}`).innerHTML = '>= 5 characters';
      } else {
        if (document.getElementById(`${idEmail}`).value.search("@") >= 0) {
          document.getElementById(`${idMessageEmail}`).style.color = 'green';
          document.getElementById(`${idMessageEmail}`).innerHTML = 'OK';

          if (document.getElementById(`${idEmail}`).value === document.getElementById(`${idConfirmEmail}`).value) {
            document.getElementById(`${idMessageConfirmEmail}`).style.color = 'green';
            document.getElementById(`${idMessageConfirmEmail}`).innerHTML = 'Matching';
          } else {
            document.getElementById(`${idMessageConfirmEmail}`).style.color = 'red';
            document.getElementById(`${idMessageConfirmEmail}`).innerHTML = 'Not matching';
          }
        }
      }
    }


    function addLecturer() {
      if (document.getElementById('password').value.length < 5 || document.getElementById('confirmPassword').value.length < 5 || document.getElementById('emailLecture').value.length < 5 || document.getElementById('emailLecture').value.search("@") < 0) {
        alert("Please enter the correct format");
        return;
      }
      else {
        var password = document.getElementById('password').value;
        var email = document.getElementById('emailLecture').value;
        var full_name = "";
        var type_of_account = 1;
        var send = { email, password, full_name, type_of_account };

        $.getJSON(`/admin/lecturer/add-lecturer`, send, function (data) {
          if (data) {
            if (data.result === "true") {
              alert("Add lecturer successfully!");
              window.location.replace('/admin/lecturer');
            }
            else {
              alert("Lecturer email is already exist. Please enter again!");
              return;
            }
          }
        })
      }
    }


    function resetPasswordLecturer(LecturerID) {
      // Hàm coppy : randomStr 6 characters.
      var randomString = Math.random().toString(36).substring(2, 10);
      var confirmReset = prompt("New password : ", randomString);
      if (confirmReset == null) {
        return false;
      }
      else {
        var send = { UserID: LecturerID, password: randomString };
        $.getJSON(`/admin/lecturer/reset-password`, send, function (data) {
          if (data) {
            alert("Reset password successfully!");
          }
        })
      }
    }


    // Not yet, wait for del() function!
    function deleteLecturer(LecturerID) {
      if (confirm("Are you sure you want to delete?")) {
        var send = { ID: LecturerID };
        $.getJSON(`/admin/lecturer/delete`, send, function (data) {
          if (data) {
            alert("Delete successfully!");
            location.reload();
          }
        })
      } else {
        return;
      }
    }


    function renderStudentTable() {
      $("#admin_student_table_tbody").empty();
      $.getJSON(`/admin/student/get-list-student`, function (data) {
        if (data) {
          var str = "";
          data.forEach(function (item) {
            str = str + `<tr>
                      <td>${item.full_name}</td>
                      <td>${item.email}</td>
                      <td>
                        <div class="form-group " style="margin:auto;">
                          <button type="button" class="btn btn-primary" onclick="resetPasswordStudent(${item.UserID})">Reset Password</button>
                        </div>
                      </td>
                      <td>
                        <div class="form-group " style="margin:auto;">
                          <button type="button" onclick="deleteStudent(${item.UserID})" class="btn btn-danger">Delete</button>
                        </div>
                      </td>
                    </tr>`
          })
          var tbody = document.getElementById(`admin_student_table_tbody`);
          tbody.insertAdjacentHTML("beforeend", str);
        }
      })
    }


    function resetPasswordStudent(StudentID) {
      // Hàm coppy : randomStr 6 characters.
      var randomString = Math.random().toString(36).substring(2, 10);
      var confirmReset = prompt("New password : ", randomString);
      if (confirmReset == null) {
        return false;
      }
      else {
        var send = { UserID: StudentID, password: randomString };
        $.getJSON(`/admin/student/reset-password`, send, function (data) {
          if (data) {
            alert("Reset password successfully!");
          }
        })
      }
    }

    // Not yet, wait for del() function!
    function deleteStudent(StudentID) {
      if (confirm("Are you sure you want to delete?")) {
        var send = { ID: StudentID };
        $.getJSON(`/admin/student/delete`, send, function (data) {
          if (data) {
            alert("Delete successfully!");
            location.reload();
          }
        })
      } else {
        return;
      }
    }

    function submitChangeAdminPassword(){

    }

    function submitChangeAdminEmail(){
      
    }
</script>




  
</head>