<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Ansonika">
  <title>UDEMA - Admin dashboard</title>

  <!-- Favicons-->
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" type="image/x-icon" href="/images/img/apple-touch-icon-57x57-precomposed.png">
  <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72"
    href="/images/img/apple-touch-icon-72x72-precomposed.png">
  <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114"
    href="/images/img/apple-touch-icon-114x114-precomposed.png">
  <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144"
    href="/images/img/apple-touch-icon-144x144-precomposed.png">

  <!-- Bootstrap core CSS-->
  <link href="/stylesheets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Main styles -->
  <link href="/stylesheets/css/admin.css" rel="stylesheet">
  <!-- Icon fonts-->
  <link href="/stylesheets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Plugin styles -->
  <link href="/stylesheets/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
  <!-- Your custom styles -->
  <link href="/stylesheets/css/custom.css" rel="stylesheet">

  <!-- Của lecturer page -->
  <link href="/stylesheets/vendor/dropzone.css" rel="stylesheet">

  <!-- Của add page -->
  <link href="/stylesheets/css/date_picker.css" rel="stylesheet">


  <!-- TinyMCE Editor -->
  <script src="https://cdn.tiny.cloud/1/dsh2cz7m079hjadswmiift6ldhtgsw6a9y0dlnjoxwwu473z/tinymce/5/tinymce.min.js"
    referrerpolicy="origin"></script>
  <script>

    tinymce.init({
      selector: '#detailDesc'
    });

  </script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">



  <style>
    .footer>a {
      margin-right: 20px;
      font-size: 20px;
      color: black;
    }

    .footer>a:hover {
      color: #007bff;
      transition: 0.1s;
      ;
    }
  </style>

  <script>
    var sessionNumber = 0;
    var lectureNumber = [-1];
    var lectureRemoveOfEachSession = [-1];

    function addSession() {
      sessionNumber++;
      lectureNumber.push(0);
      lectureRemoveOfEachSession.push(0);
      var s = document.getElementById("getSessionHere");

      s.insertAdjacentHTML("beforebegin", `<div id="session${sessionNumber}"><div class="form-row">
                    <div class="col-md-8 mb-2 input-group-lg">
                      <input type="text" class="form-control" id = "" name="session" placeholder="${sessionNumber}. Session title"
                        required>
                    </div>

                    <div class="col-md-2 mb-2 input-group-lg">
                      <button type="button" onclick = "addLecture(${sessionNumber})" class="btn btn-primary" style="height:100%; width:100%;"><i
                          class="fa fa-fw fa-plus-circle"></i>Add Lecture</button>
                    </div>

                    <div class="col-md-2 mb-2 input-group-lg">
                      <button type="button" onclick = "removeSession(${sessionNumber})" class="btn btn-danger" style="height:100%;"><i
                          class="fa fa-fw fa-remove"></i></button>
                    </div>
                    </div>
                    <span id = "getLectureHere.${sessionNumber}"></span></div>`);
    }


    function addLecture(sessionNumber) {
      lectureNumber[sessionNumber]++;
      var lec = document.getElementById(`getLectureHere.${sessionNumber}`);

      lec.insertAdjacentHTML("beforebegin", `<div class="form-row" id = "lession_${sessionNumber}.${lectureNumber[sessionNumber]}">
                    <div class="col-md-6 mb-3 input-group-lg">
                      <input type="text" class="form-control" id="" name = "lecture" placeholder="${sessionNumber}.${lectureNumber[sessionNumber]}. Lecture title"
                        required>
                    </div>

                      <div class="form-group col-md-2 mb-3" style="padding-top:10px;">
                        <input type="file" class="form-control-file" id="" name ="video">
                      </div>

                    <select class="form-control col-md-2 mb-3 input-group-lg" name = "preview">
                      <option value = "1">Preview</option>
                      <option value = "0" selected>No Preview</option>
                    </select>

                    <div class="col-md-1 mb-3 input-group-lg">
                      <button type="button" onclick = "removeLecture(${sessionNumber},${lectureNumber[sessionNumber]})" class="btn btn-danger" style="height:100%;" ><i
                          class="fa fa-fw fa-remove"></i></button>
                    </div>
                  </div>`);
    }


    function removeSession(session) {
      lectureNumber[session] = -1;
      delete lectureRemoveOfEachSession[session];
      var sessionRemove = document.getElementById(`session${session}`);
      sessionRemove.remove();
    }


    function removeLecture(session, lecture) {
      lectureRemoveOfEachSession[session]++;
      // alert(session + '-' + lectureRemoveOfEachSession[session])
      var lecturenRemove = document.getElementById(`lession_${session}.${lecture}`);
      lecturenRemove.remove();
    }

    function submitFormAddCourse() {
      var str = "";

      for (i = 1; i < lectureNumber.length; i++) {
        if (lectureNumber[i] === -1) {
          continue;
        }
        var x = lectureNumber[i] - lectureRemoveOfEachSession[i];
        str = str + ',' + x;
      }
      str = str.slice(1);
      document.getElementById("lectureOfEachSessionInOrder").value = str;
      return true;
    }

    function removeOptions(selectElement) {
      var i, L = selectElement.options.length - 1;
      for (i = L; i >= 0; i--) {
        selectElement.remove(i);
      }
    }

    function getCat2() {
      var cat2ID = document.getElementById(`cat2ID`);
      removeOptions(cat2ID);

      var cat1ID = document.getElementById(`cat1ID`).value;
      // alert(cat1ID);
      var send = { cat1ID: cat1ID };

      $.getJSON(`/lecturer/get-list-cat2`, send, function (data) {
        console.log(data);
        if (data) {
          data.forEach(function (cat2Item) {
            $('#cat2ID').append($('<option>', {
              value: cat2Item.Cat2ID,
              text: cat2Item.Cat2Name
            }));
          })
        }
      })
    }
  </script>
</head>