
    <h1><%= title %></h1>
    <%= JSON.stringify(lstCat1) %>
    <h1>lstCat2</h1>
    <%= JSON.stringify(lstCat2) %> 
    <!-- top4HotCoursesLastWeek,top10CoursesByViews, top10NewCourses, top4Cat1BuyLastWeek -->
    <h1>List of Courses</h1>
    <%= JSON.stringify(lstCourses) %>
    
  