
  <!-- <body style="height: 100vh;"> -->
      <div class="container-fluid h-100">
          <div class="row h-100 align-content-center">
              <div class="col-sm-12 ">
                  
                  <div class="card shadow text-center w-50 mx-auto">
                      
                      <div class="card-body">
                          <h1 class="card-title">Ooops!!</h1>
                          <h2 class ="text-danger">500 INTERNAL SERVER ERROR</h2>
                          <p class="card-text">Sorry! an error has occurred</p>
                      </div>
                      <div class="card-footer text-muted">
                          <a class="btn btn-primary" href="/" role="button"><i class="fa fa-home" aria-hidden="true"></i>Home</a>
                          <a class="btn btn-success" href="mailto:emailforptudw@gmail.com" role="button"><i class="fa fa-envelope" aria-hidden="true"></i>Contact</a>
                            
                            

                        </div>
                  </div>
              </div>
          </div>
      </div>
 <%- contentFor('css') %> 
 <style>
   body{
     height: 100vh;
   }
 </style>

    