<header class="header menu_2">
    <div id="preloader">
        <div data-loader="circle-side"></div>
    </div>
    <!-- /Preload -->
    <div id="logo">
        <a href="/"><img src="/images/img/logo1.png"></a>
    </div>
    <ul id="top_menu">
        <li><a href="#0" class="search-overlay-menu-btn">Search</a></li>
        <li class="hidden_tablet"><a href="/account/login" class="btn_1 rounded">Sign In</a></li>
        <li class="hidden_tablet"><a href="/account/register" class="btn_2 rounded">Sign Up</a></li>
    </ul>
    <!-- /top_menu -->
    <a href="#menu" class="btn_mobile">
        <div class="hamburger hamburger--spin" id="hamburger">
            <div class="hamburger-box">
                <div class="hamburger-inner"></div>
            </div>
        </div>
    </a>
    <nav id="menu" class="main-menu">
        <ul>
            <li><span><a href="/">Home</a></span></li>
            <li><span><a href="#0">Categories</a></span>
                <ul class="dropdown-menu" role="menu">
                    <% lstCat1.forEach(element => { %>
                        <li class="dropdown-submenu">
                            <a href="/course/byCat1/<%= element.Cat1ID %>">
                                <%= element.Cat1Name %> <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <% lstCat2[element.Cat1ID - 1].forEach(ele => { %>
                                    <li>
                                        <a href="/course/byCat2/<%= ele.Cat2ID %> ">
                                            <%= ele.Cat2Name %>
                                        </a>
                                    </li>
                                    <% }) %>
                            </ul>
                        </li>
                        <% }) %>
                </ul>
            </li>
        </ul>
    </nav>
    <!-- Search Menu -->
    <div class="search-overlay-menu">
        <span class="search-overlay-close"><span class="closebt"><i class="ti-close"></i></span></span>
        <form role="search" id="searchform" method="get">
            <input value="" name="q" type="search" placeholder="Search..." />
            <button type="submit"><i class="icon_search"></i>
            </button>
        </form>
    </div>
    <!-- End Search Menu -->
</header>
<!-- /header -->